body{
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
}
/* header menu  */

.header-menu{
    margin: 20px 0px;
    padding: 5px 0px;
    box-shadow: 10px 8px 6px rgba(0,0,0,.15) !important;
    
}

/* botton menu  */
.botton-menu {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px 0 in !important;
    box-shadow: 10px 0px 6px rgba(0,0,0,.15) !important;
}
.botton-menu i{
    font-size: 25px;
    padding: 5px 0px 0px;
}
.botton-menu p{
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
}
.botton-menu a{
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    color: black;
}